# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
*.sqlite3
*.db

# Environment variables / secrets
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# PyCharm project files
.idea/

# MacOS / Windows / Linux system files
.DS_Store
Thumbs.db

# Log files
*.log

# Test/report output
htmlcov/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover

# Python packaging
build/
dist/
*.egg-info/

# Pydantic cache
__pydantic_cache__/

# pytest cache
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# local config overrides
config.local.*

# Docker artifacts
*.tar
*.img
*.container

# Build C extensions
*.pyd
*.so

# Editor backups/swap
*.swp
*.swo
*~

# Extended env configs
.env.*
